{% extends 'base.html.twig' %}

{% block title %}BonneFoie Finance - inscription{% endblock %}

{% block body %}



<section class="auth-section signup-section text-center py-5">
	    <div class="container">
		    <div class="site-logo mb-4">
                <a class="navbar-brand me-0" href="">
                    <span class="logo-text text-primary">BonneFoie <span class="text-alt text-black-50">Finance</span></span></a></div>   
               </a>
             </div> 
		     
		    <div class="auth-wrapper mx-auto shadow p-5 rounded">

				<h2 class="auth-heading text-center mb-3"> Inscrivez vous sur BonneFoie Finance</h2>
				<div class="auth-heading-desc mb-5"></div>

				<div class="auth-form-container text-start mx-auto">
					
					{{ form_start(form , {'attr': {'class': 'auth-form auth-signup-form'}})}}
    
						{% if notification %}
                             <div class="alert alert-success">
                                   {{ notification }}
                             </div>
                        {% endif %}

						<div class="email mb-3">
							{{ form_label(form.uuid, 'Identifiant') }}
							{{ form_row(form.uuid,  {'attr': {'class': 'form-control signup-email'}}) }}
						</div><!--//form-group-->
						<div class="email mb-3">
							{{ form_label(form.nom, 'Nom') }}
							{{ form_row(form.nom, {'attr': {'class': 'form-control signup-email'}}) }}
						</div><!--//form-group-->

						<div class="email mb-3">
							{{ form_label(form.prenom, 'Prénom') }}
							{{ form_row(form.prenom, {'attr': {'class': 'form-control signup-email'}}) }}
						</div><!--//form-group-->
						<div class="email mb-3">
							{{ form_label(form.email, 'Email') }}
							{{ form_row(form.email, {'attr': {'class': 'form-control signup-email'}}) }}
						</div><!--//form-group-->
						<div class="email mb-3">
							{{ form_label(form.phone, 'Numéro de téléphone') }}
							{{ form_row(form.phone, {'attr': {'class': 'form-control signup-email'}}) }}
						</div><!--//form-group-->

						<div class="email mb-3">
							{{ form_label(form.pays, 'Pays') }}
							{{ form_row(form.pays, {'attr': {'class': 'form-select signup-email'}}) }}
						</div><!--//form-group-->

						<div class="email mb-3">
							{{ form_label(form.ville, 'Ville') }}
							{{ form_row(form.ville, {'attr': {'class': 'form-control signup-email'}}) }}
						</div><!--//form-group-->

						<div class="email mb-3">
							{{ form_label(form.adresse, 'Adresse') }}
							{{ form_row(form.adresse, {'attr': {'class': 'form-control signup-email'}}) }}
						</div><!--//form-group-->

						<div class="email mb-3">
							{{ form_label(form.mydevise, 'Choissisez une devise') }}
							{{ form_row(form.mydevise, {'attr': {'class': 'form-select signup-email'}}) }}
						</div><!--//form-group-->
						<div class="email mb-3">
							{{ form_label(form.banque, 'La banque ou avez deja un compte') }}
							{{ form_row(form.banque, {'attr': {'class': 'form-control signup-email'}}) }}
						</div><!--//form-group-->

							<div class="email mb-3">
							{{ form_label(form.password, 'Mot de passe') }}
							{{ form_row(form.password, {'attr': {'class': 'form-control signup-password'}}) }}
						</div><!--//form-group-->


						<div class="text-center">
							{{form_row(form.submit)}}
						</div>
					{{ form_end(form) }}
					
					<div class="auth-option text-center pt-5">Vous avez déjà un compte?<a class="text-link" href="{{path('app_login')}}" >Connectez-vous</a></div>
				</div><!--//auth-form-container-->
				
			</div><!--//auth-wrapper-->
	    </div><!--//container-->
    </section><!--//auth-section-->

{% endblock %}
